<br>
<script src="assets/jquery-1.11.3-jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<span ng-model="myFollowers"><a ng-click="showFollowers()"> Followers: {{myFollowers.length}}</a></span> <br/>
<span ng-model="myFollowings"><a ng-click="showFollowings()"> Following: {{myFollowings.length}}</a></span> <br/>
<br/>

<div id="imagelist" ng-repeat="pics in pictures | orderBy: '-date'">
    <p><img ng-src="http://localhost:8080/api/files/{{pics.token}}">
    <button type="submit" id="delete" name="delete" class="glyphicon glyphicon-remove" ng-click="delete(pics)"></button>
    <br>
    <span ng-model="like[pics.id].likeCounter">{{pics.pictureLikes.length}} people like this photo</span><br>
    <span> Show comments</span>
    <button type="submit" class="glyphicon glyphicon-comment" name="Submit" id="show_comments"
            ng-click="showComments(pics)"/></p>
    <br/>

</div>
</div>