
<br>
<script src="assets/jquery-1.11.3-jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<br />
<form>
    <div id="imagelist" ng-repeat="pics in pictures">
    <p><img ng-src="http://localhost:8080/api/files/{{pics.token}}"></p>
    <br/>
        <input name="comment" type="text" class="ed" id="brnu" ng-model="comment[pics.id].content" placeholder="Leave a comment..."/>
        <button type="submit" class="glyphicon glyphicon-send" name="Submit" id="Submit" ng-click="addComment(pics.id)"/>
        <button type="submit" class="glyphicon glyphicon-send" name="Submit" id="show_comments" ng-click="showComments(pics.id)"/>
        </div>
</form>

<div id="commentlist" ng-repeat="commen in comments">
    <p>{{commen.owner}} said: {{commen.content}}</p>
</div>