<header class="top_header">
    <div class="container-fluid">
        <div class="row">
            <dov class="col-md-10 col-xs-6">
                <div class="nav_menu">
                    <ul>
                        <li><a ng-href="#/home"> HOME</a></li>
                        <li ng-show="isSignedIn"><a ng-href="#/news">My news</a></li>
                        <li ng-show="isSignedIn"><a ng-href="#/conversations"> My messages</a></li>
                        <li ng-show="isSignedIn"><a ng-href="#/pictureUpload"><img src="img/Livello.png" alt="photoapp"></a>
                        </li>
                        <li ng-show="isSignedIn"><a ng-href="#/gallery"> My gallery</a></li>
                        <li ng-show="isSignedIn"><a ng-href="#/search">Search users</a></li>
                    </ul>
                </div>
            </dov>
            <div class="col-md-2 col-xs-6">
                <div class="sign_in_up">
                    <ul>
                        <li ng-show="!isSignedIn"><a ng-click="registration()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li ng-show="!isSignedIn"><a ng-click="login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li ng-show="isSignedIn"><a ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>
<br/>