<div id="login-form">
    <form ng-show="!isUploadComplete">
        <div class="col-md-12">

            <div class="form-group">
                <h2 class="">Upload</h2>
            </div>
            <div class="form-group">
                <label for="artist">Picture name:</label>
                <input type="text_message" class="form-control" id="artist" ng-model="pic.name">
            </div>
            <div class="form-group">
                <label for="file">Picture: </label>
                <input type="file" class="form-control" id="file" file-model="file">
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary" name="btn-signup" ng-click="upload()">Upload
                </button>
            </div>

        </div>

        <div class="form-group">
            <hr/>
        </div>
    </form>
</div>
<div id="uploadBackGround" class="uploadBackGround" ng-show="isUploadComplete">Uploading...</div>
</div>


