<br/>
<form ng-submit="search(searchText)">
    <input type="search" class="searchField" placeholder="Search" ng-model="searchText"/>
</form>
<br/>
<table class="table table-hover" ng-controller="UserProfileCtrl">
    <thead>
    <tr>
        <th>User name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a ng-href="#/userProfile/{{searchUser.username}}">{{searchUser.username}}</a></td>
        <td>
            <button type="button" class="btn btn-primary" ng-show="showBttn" ng-click="followUser(searchUser.username)">
                Follow
            </button>
        </td>
    </tr>
    </tbody>
</table>