<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Message to <b>{{username}}</b></h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="message in messages">
                    {{message.date | date:'yyyy-MM-dd HH:mm'}}  <a ng-click="closeAndGo(message.sender)" ><b>{{message.sender}}</b></a>: {{message.text_message}}
                </div>
                <br>
                <div class="modal-footer">
                    <input ng-show="isSignedIn" name="comment" type="text_message" class="ed" id="brn"
                           ng-model="message.text_message" placeholder="Send a message..."/>
                    <button ng-show="isSignedIn" type="submit" class="glyphicon glyphicon-send" name="Submit" id="send"
                            ng-click="sendMessage()"/>
                </div>
            </div>
        </div>
    </div>
</div>