<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comments</h4>
            </div>
            <div class="modal-body">
                <div id="commentlist" ng-repeat="commen in comments">
                    <p><b>{{commen.owner}}</b> said: {{commen.content}}</p>
                </div>
                <div class="modal-footer">
                  <span>   <input ng-show="isSignedIn" name="comment" type="text" class="ed" id="brnu"
                                  ng-model="comment.content" placeholder="Leave a comment..."/>
                      <button type="button" class="glyphicon glyphicon-send" ng-click="addComment()">
                            </button>
                  </span>

                </div>
            </div>
        </div>
    </div>
</div>
