<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comments</h4>
            </div>
            <div class="modal-body">
                <p></p><img ng-src="http://localhost:8080/api/files/{{picture.token}}"></p>
                <br>
                <div id="commentlist" ng-repeat="commen in comments  | orderBy: 'id' track by $index">
                    <p>{{commen.date | date:'yyyy-MM-dd HH:mm'}} <a ng-click="closeAndGo(commen.owner)" data-dismiss="modal" aria-hidden="true"><b>{{commen.owner}}</b></a> said: {{commen.content}}
                        <button type="submit" id="delete" name="delete" class="glyphicon glyphicon-remove" ng-click="delete(commen)"></button>
                    </p>
                </div>
                <div class="modal-footer">
                  <span>   <input ng-show="isSignedIn" name="comment" type="text_message" class="ed" id="brnu"
                                  ng-model="comment.content" placeholder="Leave a comment..."/>
                      <button type="button" class="glyphicon glyphicon-send" ng-click="addComment()">
                            </button>
                  </span>

                </div>
            </div>
        </div>
    </div>
</div>