<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Followings</h4>
            </div>
            <div class="modal-body">
                <span ng-repeat="followings in showMyFollowings"> <h4><a ng-click="closeAndGo(followings.following)"  data-dismiss="modal" aria-hidden="true">{{followings.following}}</a></h4></span>
            </div>
        </div>
    </div>
</div>
