<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">My followers</h4>
            </div>
            <div class="modal-body">
                <span ng-repeat="followers in showMyFollowers"><h4><a ng-click="closeAndGo(followers.follower)"
                                                                      data-dismiss="modal" aria-hidden="true">{{followers.follower}}</a></h4></span>

            </div>
        </div>
    </div>
</div>
